doctype html
html
head
    title FiestaHouse
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900', rel='stylesheet')
    //if lte IE 8
      script(src='js/html5shiv.js')
      link(rel='stylesheet', href='css/ie8.css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dropotron.min.js')
    script(src='js/config.js')
    script(src='js/skel.min.js')
    script(src='js/skel-panels.min.js')
    noscript
      link(rel='stylesheet', href='css/skel-noscript.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
  body.homepage
    //
       Header Wrapper
    #header-wrapper.wrapper
      .container
        .row
          .12u
            //
               Header 
            #header
              //
                 Logo 
              #logo
                h1
                 p Fiesta House
                span.byline Get your party on
              //
                 /Logo
              //
                 Nav
              nav#nav
                ul
                  li
                    a(href='#') Details
                  li
                    a(href='right-sidebar.html') Food
                  li
                    a(href='left-sidebar.html') Booze
                  li
                    a(href='no-sidebar.html') Clean Up
              //
                 /Nav 
            //
               /Header 
    //
       /Header Wrapper 
    //
       Intro Wrapper 
    #intro-wrapper.wrapper.wrapper-style1
      .title Start Here
      .container
        .row
          .12u
            //
               Intro 
            section#intro
              p.style1 Sign in with Facebook
              p.style2
                | Escape Velocity is a free responsive
                br.mobile-hide
                | site template by
                a.nobr(href='http://html5up.net/') HTML5 UP
              p.style3
                | It's
                strong responsive
                | , built on
                strong HTML5
                | and
                strong CSS3
                | , and released for
                | free under the
                a(href='http://html5up.net/license/') Creative Commons Attribution 3.0 license
                | , so use it for any of
                | your personal or commercial projects – just be sure to credit us!
              //
                                  <p class="style3">Mauris tellus lacus, tincidunt eget mattis at, laoreet vel velit. 
                                  Aliquam diam ante, aliquet sit amet vulputate lorem at placerat at nisl. 
                                  Maecenas et gravida ligula sed lacus euismod tincidunt nullam eget justo orci.</p>
                                  
              ul.actions
                li
                  a.button.button-style3.button-big(href='#') Proceed

                //
                   Contact Form 
                section.footer-one
                  form(method='post', action='/planner/details')
                    input(type='hidden', name='_csrf', value=_csrf)
                    div
                      .row.half
                        .6u
                          input#contact-name.text(type='text', name='name', placeholder='Name of party')
                        .6u
                          input#contact-email.text(type='text', name='name', placeholder='Email')
                      .row.half
                        .12u
                          input#contact-email.text(type='text', name='name', placeholder='Address')
                         .6u
                           input#contact-email.text(type='text', name='name', placeholder='Date of party/Time')
                      .row
                        .12u
                          ul.actions
                            li
                              input.button.button-style1(type='submit', value='Send')
                            li
                              input.button.button-style2(type='reset', value='Reset')
                //
                   /Contact Form 
            //
               /Intro 
    //
       /Intro Wrapper 
    //
       Main Wrapper 
    .wrapper.wrapper-style2
      .title The Details
      .container
        .row
          .12u
            //
               Main 
            #main
              //
                 Image 
              a.image.image-featured(href='http://fav.me/d5pjw3g')
                img(src='images/pic01.jpg', alt='')
              //
                 /Image 
              //
                 Features 
              section#features
                header.style1
                  h2 Dolor consequat feugiat amet veroeros
                  p.byline Feugiat dolor nullam orci pretium phasellus justo
                .feature-list
                  div
                    .row
                      .6u
                        section
                          h3.fa.fa-comment Mattis velit diam vulputate
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                      .6u
                        section
                          h3.fa.fa-refresh Lorem ipsum dolor sit veroeros
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                    .row
                      .6u
                        section
                          h3.fa.fa-picture-o Pretium phasellus justo lorem
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                      .6u
                        section
                          h3.fa.fa-cog Tempus sed pretium orci
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                    .row
                      .6u
                        section
                          h3.fa.fa-wrench Aliquam consequat et feugiat
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                      .6u
                        section
                          h3.fa.fa-check Dolore laoreet aliquam mattis
                          p
                            | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.
                ul.actions.actions-centered
                  li
                    a.button.button-style1.button-big(href='#') Get Started
                  li
                    a.button.button-style2.button-big(href='#') More Info
              //
                 /Features 
            //
               /Main 
    //
       /Main Wrapper 
    //
       Highlights Wrapper 
    .wrapper.wrapper-style3
      .title The Endorsements
      .container
        .row
          .12u
            //
               Highlights 
            #highlights
              div
                .row
                  .4u
                    section.highlight.highlight-one
                      a.image.image-full(href='http://fav.me/d59i3b3')
                        img(src='images/pic02.jpg', alt='')
                      h3
                        a(href='#') Aliquam diam consequat
                      p
                        | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                      ul.actions
                        li
                          a.button.button-style1(href='#') Learn More
                  .4u
                    section.highlight.highlight-two
                      a.image.image-full(href='http://fav.me/d4tqyby')
                        img(src='images/pic03.jpg', alt='')
                      h3
                        a(href='#') Nisl adipiscing sed lorem
                      p
                        | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                      ul.actions
                        li
                          a.button.button-style1(href='#') Learn More
                  .4u
                    section.highlight.highlight-three
                      a.image.image-full(href='http://fav.me/d5w2dot')
                        img(src='images/pic04.jpg', alt='')
                      h3
                        a(href='#') Mattis tempus lorem
                      p
                        | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
                      ul.actions
                        li
                          a.button.button-style1(href='#') Learn More
            //
               /Highlights 
    //
       /Highlights Wrapper 
    //
       Footer Wrapper 
    #footer-wrapper.wrapper
      .title We'll Even Clean Up After
      .container
        .row
          .12u
            h1 Our cleaners are efficient and trustworthy. Would you like to use this service?            
            form(action='')
              input(type='checkbox', name='cleaningService', value='yes')
              | Yes I would like the cleaning service
              br
            //
               /Footer 
            //
               Copyright 
            #copyright
              span
                | © Untitled. Design by
                a(href='http://html5up.net/') HTML5 UP
                | .
            //
               /Copyright 
    //
       /Footer Wrapper 
