extends layout

block content
  h1 Fiesta House
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.

  form.landingForm
    input(type='text', name='address', value='Enter your address: ')
    input(type='submit', value='Start')
