extends layout

block content
  h1 Fiesta House
  img(src="../img/test2.jpg", width = 600, height = 300)
  
  
  
  
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      if secrets.facebookAuth
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
      if secrets.twitterAuth
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
      if secrets.googleAuth
        a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Sign in with Google
      if secrets.githubAuth
        a.btn.btn-block.btn-github.btn-social(href='/auth/github')
          i.fa.fa-github
          | Sign in with GitHub
      if secrets.linkedinAuth
        a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
          i.fa.fa-linkedin
          | Sign in with LinkedIn

